html{
	background-color: gray;
}
body{
	margin: 0px;
	padding: 0px;
	width: 980px;
	height: 1386px;
	margin-left: 150px;
	background-color: #ffffff;
	margin-top: 50px;
}
header{
	height: 61px;
}
header p{
	margin: 0px;
}
header, #div1,#div2,#div3,footer{
	margin-left: 30px;
	margin-bottom: 30px;
}
#header-name{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	color: #ffffff;
	font-size: 12px;
	font-family: 黑体;
}
#header-name p{
	padding-top: 40px;
	padding-left: 10px;
}
#time{
	float: right;
	color: #d45d5c;
	font-size: 12px;
	font-family: 黑体;
	padding-right: 	98px;
	margin-top: -13px;
}
#header-line{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
}
#div1{
	height: 301px;		
	background: url(images/horse.jpg) no-repeat;
	background-size: 641px 301px;
}
#div1-leftmark{
	 width: 191px;  
	 height: 301px;  
	 background: #72A664;  
	 opacity: 0.5;  
	 float: left; 
}
#div1-rightmark{
	 width: 191px;  
	 height: 301px;  
	 background:#E1ABC3;  
	 opacity: 0.5;  
	 margin-left: 450px;
}
#div1-right{
	float: right;
	width: 221px;
	height: 301px;
	margin-right: 40px;
}
#div1-line{
	width: 203px;
	height: 2px;
	background-color: #cc8091;
}
#div1-text1{
	color: #000000;
	font: 21px 微软雅黑 ;
	text-decoration: underline;
	line-height: 4px;
}
#div1-text1 :first-letter{
	font-size: 24px;
}
#div1-text2{	
	font: 12px 楷体;
	color: #676767;
	line-height: 10px;
}
#div1-text3{
	font: 116px 微软雅黑 ;
	font-style: italic;
	color: #75b86b;
}
#div1-text4{
	font: 55px 微软雅黑;
	color: #cc8091;
}
#div1-text56{
	float: right;
	margin-right: 45px;
	margin-top: 14px;
}
#div1-text5{
	position: relative;
	font: 21px 微软雅黑;
	color: #cc8091;
	top:10px;
}
#div1-text6{
	font: 12px 微软雅黑;
	color:#cc8091;
}
#div2{
	width: 641px;
}
#div2-text1{
	width: 200px;
	float: left;
	margin-right: 20px;
}
#div2-text1 h2{
	font: 16px 微软雅黑;
	color: #418c59;
	text-decoration: underline;
	font-weight: bold;
}
#div2-text1 p{
	font: 12px 宋体;
	color: #767777;
	line-height: 16px;
}
#div2-text2{
	position: relative;
	top: 20px;
}
#div2-text2 h2{
	font: 16px 微软雅黑;
	color: #d2994f;
	text-decoration: underline;
	font-weight: bold;
}
#div2-text2 p{
	font: 12px 微软雅黑;
	color: #231815;
	line-height: 16px;
	opacity: 7;
}
#div2-text3{
	width: 150px;
	float: right;
	margin-left: 20px;
}
#div2-text3 h2{
	font: 16px 微软雅黑;
	color: #cc7680;
	text-decoration: underline;
	font-weight: bold;
}
#div2-text3 .t1{
	font: 12px 微软雅黑;
	color: #767777;
	line-height: 16px;
	opacity: 0.7;
	font-style: italic;
}
#div2-text3 .t2{
	font: 12px 微软雅黑;
	color: #cd4a48;
	font-style: italic;
	line-height: 16px;
	opacity: 0.7;
}
#div3{
	width: 415px;
	height: 680px;
	float: left;
}
#div3-text1{
	font: 72px 黑体;
	color: #f5e327;
	font-style: italic;
	font-weight: bold;
}
.div3-text2{
	font: 42px 黑体;
	color: #11456b;
	font-weight: bold;
	line-height: 16px;
}
#div3-text3{
	font: 33px 黑体;
	color: #11456b;
	font-weight: bold;
	position: relative;
	top: 5px;
}
#div3-line{
	width: 415px;
	height: 2px;
	background-color: #938e8c;
	margin-top: 10px;
	margin-bottom: 20px;
}
#div3-text4 {
	font: 70px 微软雅黑;
	color: #f5e327;
	float: left;
	margin:-10px 10px 0 -2px ;
}
#div3-text5{
	font: 12px 宋体;
	color: #767777;
	line-height: 16px;
}
#div3 img{
	width: 150px;
	height: 300px;;
	float: right;
	margin: 10px;
}
#div4 {
	float: left;
	width: 458px;
	height: 680px;
	position: relative;
	left: 15px;
	top: -3px;
}
#div4-image{
	background: url(images/image1.gif) no-repeat;
	width: 458px;
	height: 275px;
	margin-left: 10px
}
#div4-image-mark{
	background:url(images/gray1.gif);
	width: 458px;
	height: 61px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	top: 195px;
}
#div4-image-text{
	position: relative;
	top:200px;
}
#div4-image-line{
	width: 3px;
	height: 44px;
	background-color: #72b16a;
	float: left;
	margin-left: 70px;
	margin-top: 10px;
}
#div4-image-text1{
	font:26px 微软雅黑;
	color: #ffffff;
	padding-left: 90px;
	padding-top: 10px;	
}
#div4-image-text2 p{
	font: 12px 微软雅黑;
	font-style: italic;
	float: right;
	color: #72b16a;
	font-weight: bold;
	margin-right: 160px;
	padding-top:15px;
}
#div4-bottom{
	width: 459px;
	height: 388px;
	margin-left: 10px;
	margin-top: 30px;
	background:url(images/gray.gif);
}
#div4-bottom ul{
	text-align: left;
	font:	16px 宋体;
	line-height: 40px;
	color: #5a5b5b;
	list-style: url(images/sanjiao.gif);
	padding-top: 30px;
}
#div4-bottom span{
	text-align: right;
	font: 12px 宋体;
	color: #5a5b5b;
	line-height: 20px
	font-style:italic;
}
#div4-bottom-left{
	width: 260px;
	height: 160px;
	background-color: #d45d5c;
	float: left;
}
#div4-bottom-right-yin1{
	font: 72px 黑体;
	color: #d45d5c;
	float: left;
}
#div4-bottom-right-yin2{
	font: 72px 黑体;
	color: #d45d5c;
	float: right;
}
#div4-bottom-right-text{
	font: 14px 黑体;
	font-style: italic;
	color: #5a5b5b;
}
.rb-zero{
    float:left;
    border-right:2px solid #fff;
    color:#fff;
    font:110px 'Microsoft YaHei';
    line-height:85px;
    position: relative;
    bottom: 70px; 
}
.rb-count{
    color:#fff;
    font:italic 21px SimHei;
}
.rb-hw{
    color:#fff;
    font:12px/16px SimHei;
}

footer div{
	width: 892px;
	height: 1px;
	background-color: #938ec3;
	position: relative;
	top:710px;
}
footer p{
	font: 12px 黑体;
	color: #d45d5c;
	float: right;
	padding-right: 58px;
	padding-top: 2px;
}